@supports (-webkit-appearance:none) {
    .palette-primary-superbalist {
        background: #3cd062
    }
}

.palette-primary-superbalist .footer, .palette-primary-superbalist .header {
    background: #3cd062
}

.palette-primary-superbalist .drawer .toc a.current, .palette-primary-superbalist .drawer .toc a:focus, .palette-primary-superbalist .drawer .toc a:hover {
    color: #3cd062
}

.palette-primary-superbalist .drawer .anchor a {
    border-left: 2px solid #3cd062
}

.ios.standalone .palette-primary-superbalist .article {
    background: -webkit-linear-gradient(top, #fff 50%, #3cd062 0);
    background: linear-gradient(180deg, #fff 50%, #3cd062 0)
}

.palette-primary-superbalist .article a, .palette-primary-superbalist .article code, .palette-primary-superbalist .article h1, .palette-primary-superbalist .article h2 {
    color: #3cd062
}

.palette-primary-superbalist .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-superbalist .article table th {
    background: #9dc671
}

.palette-primary-superbalist .results .meta {
    background: #3cd062
}

.palette-accent-superbalist .article a:focus, .palette-accent-superbalist .article a:hover {
    color: #64dd17
}

.palette-accent-superbalist .repo a {
    background: #64dd17
}

@media only screen and (max-width: 959px) {
    .palette-primary-superbalist .project {
        background: #3cd062
    }
}
